<h1>Welcome to Course Management System</h1>
<div class="container-button">
    <span ><%= button_to "Sign Up", new_user_path, :method => :get, class: 'button' %></span>
    <span ><%= button_to "Sign In",  login_path, :method => :get, class: 'button' %></span>
</div>