<div class="container" style=" display: inline; position: absolute; top: 10%; right: 0; width: auto; text-align: center; margin: 0.8rem;">
    <% if flash[:notice] %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= flash[:notice] %>
            <button type="button" class="close button-flash" data-dismiss="alert" aria-label="Close" style=" border: none; background: transparent; margin-left: 1rem; font-size: 1.5rem;font-weight: 600;">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% end %>
</div>